<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>Filter.ManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AddnewServlet</servlet-name>
        <servlet-class>Controller.AddnewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DowloadSampleServlet</servlet-name>
        <servlet-class>Controller.DowloadSampleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerView</servlet-name>
        <servlet-class>Controller.ManagerView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudent</servlet-name>
        <servlet-class>Controller.SearchStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editStudentManager</servlet-name>
        <servlet-class>Controller.editStudentManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProduct</servlet-name>
        <servlet-class>Controller.ViewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserView</servlet-name>
        <servlet-class>Controller.UserView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editStudentUser</servlet-name>
        <servlet-class>Controller.editStudentUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invoice</servlet-name>
        <servlet-class>Controller.Invoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addLogo</servlet-name>
        <servlet-class>Controller.addLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lockdata</servlet-name>
        <servlet-class>Controller.Lockdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Opendata</servlet-name>
        <servlet-class>Controller.Opendata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInvoice</servlet-name>
        <servlet-class>Controller.ViewInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInvoiceDetail</servlet-name>
        <servlet-class>Controller.ViewInvoiceDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserNotiController</servlet-name>
        <servlet-class>Controller.UserNotiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInvoice</servlet-name>
        <servlet-class>Controller.DeleteInvoice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddnewServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DowloadSampleServlet</servlet-name>
        <url-pattern>/dow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerView</servlet-name>
        <url-pattern>/ManagerView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserView</servlet-name>
        <url-pattern>/userview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudent</servlet-name>
        <url-pattern>/searchstudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>listAccount</servlet-name>
        <servlet-class>Controller.listAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRole</servlet-name>
        <servlet-class>Controller.ChangeRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>Controller.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listAccount</servlet-name>
        <url-pattern>/listAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRole</servlet-name>
        <url-pattern>/ChangeRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStudentManager</servlet-name>
        <url-pattern>/editStudentManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProduct</servlet-name>
        <url-pattern>/ViewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserView</servlet-name>
        <url-pattern>/UserView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStudentUser</servlet-name>
        <url-pattern>/editStudentUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invoice</servlet-name>
        <url-pattern>/Invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addLogo</servlet-name>
        <url-pattern>/addLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lockdata</servlet-name>
        <url-pattern>/lock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Opendata</servlet-name>
        <url-pattern>/open</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInvoice</servlet-name>
        <url-pattern>/viewinvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInvoiceDetail</servlet-name>
        <url-pattern>/viewdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserNotiController</servlet-name>
        <url-pattern>/usernoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInvoice</servlet-name>
        <url-pattern>/deleteinvoice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
