/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10-Sep-2023, 20:23:25
    Author     : ghuy
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #00B98E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    pointer-events: none;
    text-decoration: none;
}

.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
}
.button-login{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
}

.navbar .bgnLogin-popup{
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    
}

.navbar .bgnLogin-popup::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: #fff;
    opacity: .85;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    margin-left: 39%; 
    z-index: 1;
    
}

/* Style the individual dropdown items */
.dropdown-menu li {
    padding: 5px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

/* When the dropdown-toggle is clicked, show the dropdown menu */
.dropdown-toggle:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: flex;
    flex-direction: column;
}